body{
    background-color: rgba(0, 255, 102, 0.986);
}

.card {
    max-width: 30%;
    border: solid 2px;
    margin: 20px;
    padding: 10px;
    background-color: rgba(3, 112, 3, 0.705);
}

.card img{
    width: 100%;
}

